<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/jsSHA/src/sha.js"></script>
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script><style>
            .well{
                width: 80%;
                margin: 0 auto;
                margin-top: 50px;
            }
        </style>
</head>
<body>
    <div class="well">
            <h2>create a wallet</h2>
            <p><a href="/wallet/new">make a new wallet</a></p>
            <p><a href="/wallet/import">import a wallet (coming soon)</a></p>
    </div>
    
</body>
</html>