<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>user</title>
    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/jsSHA/src/sha.js"></script>
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <style media="screen">
      *{
        margin: 0;
        padding: 0;
      }
      .panel{
          width: 80%;
          margin: 0 auto;
      }
    </style>
  </head>
  <body>

            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">map</h3>
                </div>
                <div class="panel-body">
                        <a href="/" type="button" class="btn btn-primary">home</a>

                        <a href="/wallet" type="button" class="btn btn-primary">wallet</a>
                  
                        <button type="button" disabled="disabled" class="btn btn-primary">game (comming soon...)</button>

                        <a href="/logout" type="button" class="btn btn-primary">logout</a>
                </div>
            </div>




    </div>
  </body>
</html>